table, th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    background-color: white;
}

table {
  background-color: #e0e0eb;
  padding: 0px;
}

hex {
  font-family: monospace;
  color: #229954;
}

hex::before {
  content: "0x";
}

code2 {
  color: #E74C3C;
  font-family: monospace;
}

value {
  color: #f5871f;
  font-family: monospace;
}
